*{
    margin: 0;
    padding: 0;
}
.haut{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2022/11/15/06/35/night-7593233__340.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.adress{
    width: 80%;
    height: 200px;
    border: 1px solid orange;
    background-color: orange;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}
.adress p{
    display: flex;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
     text-align: center;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    position: relative;
    margin-top: 250px;
    background-color: orange;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: x-large;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.2);
}
ion-icon{
    width: 30px;
    height: 30px;
    color: white;
}
.coordonne{
    display: flex;
    justify-content: center;
    margin-top: 440px;
    width: 50%;
    height: 500px;
    position: absolute;
    border: 1px solid white;
    background-color: white;
}
.picture img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    bottom: 370px;
}
.text{
    text-align: center;
    margin-top: 160px;
    font-family: arial;
}
h2{
    color: orange;
}
text p{
    padding: 10px;
}
.date{
    font-weight: 600;
}
.icon{
    position: absolute;
    bottom: 70px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.uno{
    padding: 10px;
    width: 40px;
    background: darkslateblue;
    border-radius: 90px;
}
.uno:hover{
    background-color: orange;
}
/* .icon:hover{
    background-color: darkorchid;
} */
progress{
    width: 50px;
}
.progress{
   padding-left: 90px;
    float: left;
    margin-top: 300px;
}

h5{
    font-size: x-large;
    font-weight: 900;
}
.liste{
    display: flex;
    justify-content: center;
    padding-left: 90px;
    margin-top: 390px;
}
ul{
    list-style: none;
    display: flex;
   gap: 15px;
}
li{
   list-style: none;
   text-decoration: none ;
}
a{
    text-decoration: none;
    color: grey;
    list-style: none;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: orange;
}
.gallery{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vmin;
    /* padding: 0 14px; */
}
.gallery li{
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.about{
 padding-left: 100px;
 margin-top: 40px;
}
.para{
    text-align: center;
    color: gray;
    font-weight: 500;
}
.pourcentage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    margin: auto;
}
svg{
    width: 170px;
    height: 170px;
}
svg circle{
    display: flex;
    justify-content: center;
    fill: none;
    stroke: #ffab00;
    stroke-width: 6px;
    transform: translate(5px,5px);
    stroke-linecap: round;
    stroke-dasharray: 440;
}
.circle1{
    stroke-dashoffset: 20;
}
.circle2{
    stroke-dashoffset: 80;
}
.circle3{
    stroke-dashoffset: 150;
}
.circle4{
    stroke-dashoffset: 20;
}
.pourcentage span{
    font-size: 20px;
    position: relative;
    right: 120px;
    top: 50px;
    color: black;
}
h4{
    position: relative;
    right: 170px;
    padding-top: 10px;
    top: 50px;
    color: gray;
    margin-top: 20px;
}
.container{
    width: 100%;
    height: 900px;
    padding-bottom: 40px;
    background-color: #28023D;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.container .text2{
    padding-top: 50px;
    margin-top: 50px;
    /* float: right; */
    text-align: center;
    margin-left: 100px;
}
.text1{
    margin: 50px;
   padding-top: 50px;
}
.text1 h1{
    color: white;
}

.text1 p{
    color: grey;
    font-weight: 700;
}
.text2 h1{
    font-size: xx-large;
    color: white;
}
.text2 h2{
    font-size: x-large;
}
.text2 p{
    font-size: large;
    color: white;
    margin-bottom: 40px;
}
.text2 h3{
    font-size: x-large;
    color: white;
}
.rond{
    margin-right: 30px;
}


.container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 210px;
}
.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 90px auto;
    width: 700px;
    border-left: 2px solid gray;
    padding: 0 45px 0 24px;
}
.timeline h5{
    color: gray;
}
.content::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffab00;
    border: 10px solid orangered;
    position: absolute;
    top: 10px;
    left: -40px;
}
.content::after{
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent orangered transparent transparent;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 25px;
    font-size: x-large;
    position: relative;
    margin-bottom: 20px;
}

.formation h1{
    color: black;
}
.level{
    width: 100%;
    height: 210px;
}
.level{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/03/05/33/the-sun-3057622__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.chiffre{
    font-size: 50px;
    font-weight: 900;
    padding-right: 20px;
}
.level p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer{
    width: 100%;
    height: 150px;
    background-color: #28023D;
    margin-top: 20px;
}
.pied{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pied p{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
@media (max-width: 1000px) {
    .haut .coordonne .picture{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .adress{
        width: 60%;
        height: 210px;
    }
    .timeline{
        flex-wrap: wrap;
    }
    .content h2 h3 h5 p{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
  
